body {
	font-family: sans-serif;
	background: #fff;
	
}
h1, h2{
	color: #000;
	text-align: center
}

ul {
	list-style:none;
	
	padding: 0;
	display: block;
	
	text-align: center;
}
ul li {
	display: inline-block;
	
	background:white;
	margin:10px;
}
ul li img {
	display: block;
	    
}
a {
	text-decoration: none;
}
/** Start Coding Here **/
#overlay {
  background:rgba(0,0,0,0.9);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  display:none;
  text-align:center;

}

#overlay img {
 
 width: 100%;
 height: 250px;

}

#overlay p {
 color:white; 
 width: 80%;
 margin: 0 auto;
 
}


#leftArrow, #rightArrow{
	background: url('../Photos/bg-slider-arrows.png') no-repeat;
	background-size: cover;
	width: 75px;
	height: 75px;
	display: inline-block;
	margin: 40px;
	vertical-align: 50%;
}

#rightArrow{
	background-position: -75px 0px;
}

#closeLightbox{
	background: url('../Photos/lightbox-close.png') no-repeat;
	background-size: cover;
	width: 25px;
	height: 25px;
	margin: 20px;
	float: right;
}


.searchBox{
	
	text-align: center;
	
	margin: 0 40px;
	border: 2px solid #000;
	border-radius: 4px;
	font-size: 16pt;
	color: rgba(0, 0, 0, 0.8);
	
}



@media (min-width: 768px) {
	.searchBox{
	width: 40%;
	text-align: center;
	
	margin: 0 225px;
	border: 2px solid #000;
	border-radius: 4px;
	font-size: 16pt;
	color: rgba(0, 0, 0, 0.8);
	

	}
	#overlay img {
 
 width: 100%;
 height: 450px;

}
}

@media (min-width: 1024px) {
	.searchBox {
		width: 40%;
	text-align: center;
	
	margin: 0 302px;
	border: 2px solid #000;
	border-radius: 4px;
	font-size: 16pt;
	color: rgba(0, 0, 0, 0.8);
	}

		#overlay img {
 
 width: 90%;
 height: 50%;
 

}
}










